.championDetailsHeader {
  position: relative;
  height: 369px;
}

.championDetailsHeaderText {
  position: absolute;
  top: 132px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.championDetailsHeaderTopText {
  color: #91c4ea;
  line-height: 45px;
  font-size: 37px;
}
.championDetailsHeaderBottomText {
  padding-top: 25px;
  font-family: Acumin;
  color: #a55a16;
  line-height: 30px;
  font-size: 30px;
}

.championDetailsHeader img {
  max-width: 1080px;
}
