.pullScreen {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pullScreen img {
  max-width: 1080px;
}

.topBanner {
  height: 369px;
}

.bottomBanner {
  height: 489px;
}

.pullScreenEagle {
  width: 1080px;
  height: 1062px;
}
